
.matrix-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;

    .matrix-header {
        width: 100%;
        padding: 0.5rem;
        border-bottom: 1px solid #282828;
        display: flex;
        flex-direction: row;
        align-items: center;

        .buttons, .select, .dropdown {
            margin: 0;

            &:not(:first-child) {
                margin-left: 0.5rem;
            }
        }

        .dropdown-content {
            text-wrap: nowrap;
            max-height: 600px;
            overflow-y: scroll;
            
            .tags {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                flex-direction: column;
                .tag {
                    width: 100%;
                }
            }

            table {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
        }
    }

    .matrix-content {
        flex: 1;
        display: block;
        width: calc(100vw - max(250px, 0.1*100vw));
        overflow-x: auto;
        overflow-y: auto;
    }
}
