.virtualized-select {
  position: relative;
  width: 100%;

  &__trigger {
    text-align: left;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &-label {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
