
@use 'fontawesome-free/scss/fontawesome';
@use 'fontawesome-free/scss/solid';
@use 'fontawesome-free/scss/regular';
@use 'fontawesome-free/scss/brands';
@use 'bulma/sass';



:root {
  --bulma-family-primary: Roboto,Oxygen,Ubuntu,Helvetica Neue,Helvetica,Arial,sans-serif;
  --bulma-family-secondary: Roboto,Oxygen,Ubuntu,Helvetica Neue,Helvetica,Arial,sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 11pt;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
}

.menu-list-link {
    background-color: transparent !important;
    font-weight: normal !important;

    &.is-active {
        font-weight: 600 !important;
    }
}
