
table {
    font-size: 9pt;

    .title-cell {
        min-width: 30px;
    }

    .empty-row {
        height: 20px;
    }

    th, td {
        padding: 2px;
    }

    td {
        vertical-align: middle;
    }


    tbody tr:nth-child(odd) {
        background-color: var(--bulma-scheme-main-bis);
    }

    td {
        p {
            text-align: right;
            color: var(--bulma-text-weak);
        }
    }

    .budget-th-cell {
        text-align: center;
    }

    .revision-th-cell {
        min-width: 100px;
        text-align: center;
    }

    .revision-value-type-th-cell {
        min-width: 100px;
    }

    .border-cell-dark {
        border-right: 1px solid var(--bulma-border);
        padding: 0;
        width: 0;
    }

    .border-cell-light {
        border-right: 1px solid var(--bulma-border-weak);
        padding: 0;
        width: 0;
    }

    .editable-cell {
        background-color: var(--bulma-scheme-main);
        border: 2px solid var(--bulma-link) !important;
    }

    .readonly-cell {
        text-align: right;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .description-cell {
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
    }
}
