
table {
    margin: 0.5rem;
    font-size: 9pt;

    .disabled-cell {
        text-align: right;
        color: var(--bulma-text-weak);
        background-color: var(--bulma-scheme-main-bis);
    }

    td {
        p {
            text-align: right;
            color: var(--bulma-text-weak);
        }
    }

    .editable-cell {
        background-color: var(--bulma-scheme-main);
        border: 2px solid var(--bulma-link) !important;
    }

    .readonly-cell {
        text-align: right;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .description-cell {
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
    }
}
