
table {
    margin: 0.5rem;
    font-size: 9pt;

    .disabled-cell {
        text-align: right;
        color: #696969;
    }

    td {
        p {
            text-align: right;
            color: #696969;
        }
    }
}
