
table {
    margin: 0.5rem;
    font-size: 9pt;

    .disabled-cell {
        text-align: right;
        color: #888;
        background-color: #f5f5f5;
    }

    td {
        p {
            text-align: right;
            color: #888;
        }
    }

    .editable-cell {
        background-color: #fff;
        border: 2px solid #3273dc !important;
    }

    .description-cell {
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
    }
}
